# this includes the variables that are overridden in an override.
## MODIFY AND APPEND TO YOUR .env or what you pass to gleaner
# REPLACE ECO with your project name
ECO_DOCKER_GLEANER_CONFIG=gleaner_eco
ECO_DOCKER_NABU_CONFIG=nabu_eco
ECO_DOCKER_URL=${ECO_DOCKER_URL}
ECO_DOCKER_WORKSPACE_CONFIG=workspace_eco
ECO_GRAPH_SUMMARIZE=true
ECO_GRAPH_SUMMARY_ENDPOINT=${ECO_GRAPH_SUMMARY_ENDPOINT:-${ECO_GRAPH_URL}}
ECO_GRAPH_SUMMARY_NAMESPACE=${ECO_GRAPH_SUMMARY_NAMESPACE}
ECO_GRAPH_URL=${ECO_GRAPH_URL}
ECO_MINIO_ACCESS_KEY=${ECO_MINIO_ACCESS_KEY}
ECO_MINIO_ADDRESS=${ECO_MINIO_ADDRESS}
ECO_MINIO_BUCKET=${ECO_MINIO_BUCKET}
ECO_MINIO_PORT=${ECO_MINIO_PORT}
ECO_MINIO_SECRET_KEY=${ECO_MINIO_SECRET_KEY}
ECO_MINIO_USE_SSL=true
ECO_PORTAINER_APIKEY=${ECO_PORTAINER_APIKEY}
ECO_DEFAULT_SCHEDULE=@weekly
ECO_DEFAULT_SCHEDULE_TIMEZONE=America/Los_Angeles
ECO_WORKSPACE_CONFIG_PATH="scheduler/configs/"
ECO_SOURCES_FILENAME=gleanerconfig.yaml
ECO_TENANT_FILENAME=tenant.yaml
ECRR_MINIO_BUCKET=ecrr
ECRR_GRAPH_NAMESPACE=ecrr
SLACK_CHANNEL="#twitterfeed"
SLACK_TOKEN=${ECO_SLACK_TOKEN}
