
dagit>=1.9.6
dagster>=1.9.6
dagster-graphql>=1.9.6
dagster-webserver>=1.9.6
dagster-postgres>=0.25.6
dagster-docker>=0.25.6
dagster-aws>=0.25.6
dagster_slack>=0.25.6
dagstermill>=0.25.6
ipython-genutils==0.2.0
advertools==0.13.2
minio==7.1.13
docker>=6.1.0

notebook
pydash
pyyaml
orjson
# ec_utils force latest
numpy==1.25.2

#earthcube-utilities>=0.1.28
#earthcube-utilities @ git+https://github.com/earthcube/earthcube_utilities@5d2158f#subdirectory=earthcube_utilities
#earthcube-utilities @ git+https://github.com/earthcube/earthcube_utilities@488f802#subdirectory=earthcube_utilities

#  eggs have had issues. because they did not build due to dependencies in pyoxigraph, eg non python dependencies

#earthcube-utilities @ git+https://github.com/earthcube/earthcube_utilities@dv_dev_graphdb#egg=earthcube_utilities&subdirectory=earthcube_utilities

# for local development on dv (scheduler and ec_utilties at same directory level)
# can use pip install -e ../../../earthcube_utilities/earthcube_utilities
# to do development work
#../../../earthcube_utilities/earthcube_utilities

# for the graphdb deployment testing
earthcube-utilities @ git+https://github.com/earthcube/earthcube_utilities@dv_dev_graphdb#egg=earthcube_utilities&subdirectory=earthcube_utilities

# if we want to use an non-released branch 2c1dcab is the commit
#earthcube-utilities @ git+https://github.com/earthcube/earthcube_utilities@a3acbe4#subdirectory=earthcube_utilities



