
dagit>=1.5.4
dagster-postgres==0.21.4
dagster>=1.5.4
dagster-webserver>=1.5.4
dagster-docker
dagster-aws
ipython-genutils==0.2.0
advertools==0.13.5
minio==7.1.13
docker>=6.1.0
#dagstermill
pydash

earthcube-utilities>=0.1.18
#earthcube-utilities @ git+https://github.com/earthcube/earthcube_utilities@0bbaa7c#subdirectory=earthcube_utilities
# if we want to use an non-released branch 2c1dcab is the commit
# earthcube-utilities @ git+https://github.com/earthcube/earthcube_utilities@2c1dcab#subdirectory=earthcube_utilities



